@model List<MoneyTrack.Models.Financas>
@{
    ViewData["Title"] = "Lista de Finanças";
}

<head>
    <link rel="stylesheet" href="~/css/listaFinancas.css" />
</head>

<table class="table">
    <thead>
        <tr>
            <th>IdFinancas</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Descrição</th>
            <th>Data de Transação</th>
            <th>Nome do Usuário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var financas in Model)
        {
            <tr>
                <td>@financas.IdFinancas</td>
                <td>@financas.Tipo</td>
                <td>@financas.Valor</td>
                <td>@financas.Descricao</td>
                <td>@financas.DataTransacao</td>
                <td>@financas.Usuario</td>
                <td>
                    <form method="post" asp-action="ExcluirFinancas">
                        <input type="hidden" name="idFinancas" value="@financas.IdFinancas" />
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>